<table class="table">
		<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg", size: "100x100") %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
		<tr>
			<th>follows</th>
			<th><%= link_to user.followings.count, user_follows_path(user) %></th>
		</tr>
		<tr>
			<th>followers</th>
			<th><%= link_to user.followers.count, user_followers_path(user) %></th>
		</tr>
</table>
<!-- 応用④フォロー機能 -->
<div class="row">
	<!-- 自他ユーザーとの分岐 -->
	<% unless current_user == user %>
		<% if current_user.following?(user) %>
			<%= form_for(current_user, url:user_relationships_path(user.id), html: { method: :delete }) do |f| %>
				<%= hidden_field_tag :follow_id, user.id %>
					<%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
			<% end %>

		<% else %>

		<%= form_for(current_user.relationships.build, url:user_relationships_path(user.id)) do |f| %>
			<%= hidden_field_tag :follow_id, user.id %><!-- コントローラーが保持しているuser.idをfollow_idに渡している -->
				<%= f.submit 'Follow', class: 'btn btn-success btn-block' %>
			<% end %>

		<% end %>
	<% end %>

</div>

<% if user_signed_in? && current_user == user %>
	<div class="row">
		<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
	</div>
<% end %>